/* frens styles */
.frens {
    background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 16px;
    padding-bottom: 4rem;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    width: 100%;
    height: 100%;
    overflow: hidden;
    max-width: 400px;
    max-height: 800px;
    touch-action: none; /* Запрещает масштабирование на сенсорных устройствах */
    -ms-touch-action: none; /* Для поддержки Internet Explorer */
    -webkit-user-select: none; /* Запрещает выделение текста на сенсорных устройствах */
    -webkit-user-drag: none; /* Запрещает перетаскивание элементов на сенсорных устройствах */
    -webkit-tap-highlight-color: transparent; /* Убирает подсветку ссылок на сенсорных устройствах */

}
.frens-main  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.frens-count {
    margin-bottom: 8px;
    font-size: 2rem;
    font-weight: bold;
}
.frens-inscription {
    margin-bottom: 5rem;
    font-size: 1rem;
    font-weight: bold;
}
.frens-total-earn {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 30px;
    background-color: #1C1C1D;
    padding: 0.50rem;
    margin-bottom: 10px;
}
.frens-small-invite {
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 150%;
}
.bold {
    font-weight: bold;
}
.invite-bold {
    display: flex;
    font-weight: bold;
    align-items: center;
    height: 100%;
    font-size: 1em;
    justify-content: center;
}
.normal {
    font-weight: normal;
}
.blue {
    color: #24a1de;
}
.frens-total-count {
    display: flex;
    align-items: center;
    font-weight: bold;
}
.frens-total-count span {
    display: inline-block;
    margin-right: 0.5rem;
}
.frens-yellow {
    color: rgba(255,215,0,1);
}
.frens-total-count img {
    margin-left: 0.5rem;
}
.frens-help,
.frens-list {
    padding: 0.5rem;
    font-size: 1rem;
}
.frens-help-title,
.frens-list-title {
    color: rgba(255,255,255,1);
    font-weight: bold;
    margin-bottom: 0.75rem;
}
.frens-help-box {
    width: 100%;
    height: 100%;
    font-size: 15px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin-bottom: 12px;
    border-radius: 30px;
    background-color: #1C1C1D;;
}
.frens-list-box {
    width: 100%;
    height: 100%;
    font-size: 15px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin-bottom: 12px;
    border-radius: 30px;
    background-color: #1C1C1D;
}
.frens-invite {
    display: flex;
    position: absolute;
    bottom: 105px;
    z-index: 999;
    width: 80%;
    left: 34%;
    font-size: 1rem;
    border-radius: 10px;
    margin-bottom: 12px;
    max-width: 400px;
}

.frens-invite-button {
    background-color: #24A1DE;
    text-decoration: none;
    border: none;
    height: 40px;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-left: 30px;
}
.frens-invite-button span {
    color: white;
}
.frens-other-button {
    background-color: #24A1DE;
    color: white;
    border: none;
    margin-left: 10px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
}
.frens-other-button {
    padding: 0; /* Убираем внутренние отступы для второй кнопки */
    position: relative; /* Делаем родительским элементом для квадрата */
}

.square-button {
    width: 60px; /* Задаём размер квадрата */
    height: 60px;
    background-color: #24A1DE;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    border-radius: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.frens-help-content {
    padding: 0.5rem;
    display: flex;
    align-items: center;
}
.frens-help-image {
    margin-right: 0.50rem;
}
.fren-help-text {
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 0.25rem;
}
.fren-help-text div img {
    margin-right: 0.25rem;
}
.fren-help-text div span {
    margin-right: 0.25rem;
}
.frens-open-detail a {
    color: #ffffff;
    font-weight: bold;
}
.frens-data {
    padding: 1rem;
}
.frens-data,
.frens-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 6px;
}
.frens-profile-photo {
    background-color: #1C1C1D;
    margin-right: 5px;
}
.frens-profile-data h4{
    margin-bottom: 0.25rem;
    font-size: 0.8rem;
}
.frens-profile-data div{
    display: flex;
    align-items: center;
}
.frens-profile-data div img,
.frens-profile-data div span {
    margin-right: 0.30rem;
}
.frens-data-count {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 215, 0);
}
.frens-data-count span{
    margin-right: 0.25rem;
}
