* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;!important;
}
a {
    text-decoration: none;
}
html {
    font-family: sans-serif;
}
body {
    background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 1rem;
    padding-bottom: 4rem;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    width: 100%;
    height: 100%;
    overflow: hidden;
    max-width: 24.8125rem;
    max-height: 47.75rem;
    touch-action: none; /* Запрещает масштабирование на сенсорных устройствах */
    -ms-touch-action: none; /* Для поддержки Internet Explorer */
    -webkit-user-select: none; /* Запрещает выделение текста на сенсорных устройствах */
    -webkit-user-drag: none; /* Запрещает перетаскивание элементов на сенсорных устройствах */
    -webkit-tap-highlight-color: transparent; /* Убирает подсветку ссылок на сенсорных устройствах */

}
.header-container {
    display: flex;
    align-items: center; /* Выровнять элементы по центру по вертикали */
    margin-left: 0.625rem; /* Отступ для контейнера от края экрана */
}
.back_click {
    display: flex;
    align-items: center;
    margin-right: 0.625rem;
}
.squad-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 2%;
    margin-left: 5%;
    font-weight: bold;
}

.user-data {
    display: flex;
    margin-left: 4%;
    align-items: center;
}
.username {
    color: #ffffff;
}

/*Ранг контенер*/
.rank-container {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.rank-bar {
    display: flex;
    align-items: center;
    font-size: 150%;
}
.rank-bar h3{
    margin-right: 0.5rem;
}
.rank-text {
    color: #CD7F32; /* Начальный цвет для ранга "Bronze" */
    font-weight: bold;
}
.rank-text.bronze {
    color: #cd7f32;
}

.rank-text.silver {
    color: #c0c0c0;
}

.rank-text.gold {
    color: #ffd700;
}

.rank-text.diamond {
    color: #b9f2ff;
}

.rank-text.ruby {
    color: #e0115f;
}

#rank {
    font-weight: bold;
}

/* Контейнер для прогресса */
.progress-container {
    margin-top: 5%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    height: 0.4375rem;
}
.progress-bar {
    height: 0.4375rem;
    width: 100%;
    background-color: white;
    border-radius: 0.625rem;
}

.progress-bar .progress {
    height: 100%;
    border-radius: 0.625rem;
    transition: width 0.5s;
}

.progress-bar .progress.bronze {
    background-color: #CD7F32;
}

.progress-bar .progress.silver {
    background-color: #C0C0C0;
}

.progress-bar .progress.gold {
    background-color: #FFD700;
}

.progress-bar .progress.diamond {
    background-color: #B9F2FF;
}

.progress-bar .progress.ruby {
    background-color: #E0115F;
}

/* Контенер монет*/
.coin-count-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.coin-count-container img {
    margin-right: 1rem;
    width: 3.125rem;
}
.coin-count-container h1 {
    color: #ffffff;
    font-size: 3rem;
}

/*Контенер монеты кликера*/
.coin-container {
    /*position: relative;*/
    margin-top: 13%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.coin-container img {
    box-shadow: 0 0 2rem black; /* Свечение */
    transition: radial-shadow 0.3s ease; /* Плавный переход */
    border-radius: 50%; /* Круглая форма */
}
.clicker {
    background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 100%);
    cursor: pointer;
    border-radius: 50%;
}

#coin {
    transition: .1s;
    transform-style: preserve-3d;
}

/*Контенер энергии и буста*/
.menu-container {
    margin-top: 10%;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.power {
    display: flex;
    margin-right: 0.5rem;
    margin-left: 1rem;
    width: 33%;
    align-items: center;
}
.power-count span {
    color: #ffffff;
    font-weight: bold;
    font-size: 1.4rem;
}
.boosts {
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    padding: 0 0.25rem;
    width: 30%;
}

.effect {
    position: absolute;
    font-size: 1.875rem;
    font-family: "Open Sans", sans-serif;
    color: silver;
    animation: moveUp 1s ease-out forwards;
    pointer-events: none;
}

@keyframes moveUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-3.125rem);
    }
}

/* Эффект нажатия */
.shrink {
    transform: scale(0.95); /* Уменьшение размера картинки на 5% */
    transition: transform 0.1s ease; /* Плавный переход */
}

.tgme_game_close_button {
    display: none;
}
