
.menu-bottuns {
    width: 100%;
    height: 3.6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1C1C1D;
    border-radius: 52px;
    box-shadow: 0 0 10px black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px; /* Расстояние от нижнего края экрана */
    max-width: 400px;
}
.select-none-bottuns {
    font-size : 10px;
    font-weight:bold;
}
.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0.25rem;
    width: 33.3333%;
}
.button img {
    margin-top: 0.5rem;
}
.button span {
    margin-top: 0.25rem;
    font-weight: bold;
    color: #ffffff;
}
.b-r {
    margin: 0 auto;
}

.b-r span {
    color : #FFD700;
}
.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 1px 1px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}

.button:hover {
    background-color: #1C1C1D;
}

.button:active {
    background-color: #1C1C1D;
    transform: translateY(2px);
    animation: vibrate 0.1s linear infinite;
}

.button.active {
    background-color: #1C1C1D;
    transform: translateY(2px);
}

@keyframes vibrate {
    0% { transform: translateY(2px); }
    50% { transform: translateY(0); }
    100% { transform: translateY(2px); }
}
