.menu-bottuns {
    width: 100%;
    height: 3.6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1C1C1D;
    border-radius: 3.25rem;
    box-shadow: 0 0 10px black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0.9375rem; /* Расстояние от нижнего края экрана */
    max-width: 25rem;
}
.select-none-bottuns {
    font-size : 0.625rem;
    font-weight:bold;
}
.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0.25rem;
    width: 33.3333%;
}
.button img {
    margin-top: 0.5rem;
}
.button span {
    margin-top: 0.25rem;
    font-weight: bold;
    color: #ffffff;
}
.b-r {
    margin: 0 auto;
}

.b-r span {
    color : #FFD700;
}
.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0.0625rem 0.0625rem;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}

button b-r:active{
    box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.3);
    transform: translateY(0.125rem);
}

@keyframes vibrate {
    0% { transform: translateY(0.125rem); }
    50% { transform: translateY(0); }
    100% { transform: translateY(0.125rem); }
}
