* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;!important;
}
a {
    text-decoration: none;
}
a:active {
    color: rgba(241,158,54,1);
}
html {
    font-family: sans-serif;
}
body {
    background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 1rem;
    padding-bottom: 4rem;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    width: 100%;
    height: 100%;
    overflow: hidden;
    max-width: 24.8125rem;
    max-height: 47.75rem;
    touch-action: none; /* Запрещает масштабирование на сенсорных устройствах */
    -ms-touch-action: none; /* Для поддержки Internet Explorer */
    -webkit-user-select: none; /* Запрещает выделение текста на сенсорных устройствах */
    -webkit-user-drag: none; /* Запрещает перетаскивание элементов на сенсорных устройствах */
    -webkit-tap-highlight-color: transparent; /* Убирает подсветку ссылок на сенсорных устройствах */
}
h1 {
    color: white;
}
h2 {
    color: white;
}
p {
    color: white;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1.25rem;
}
.header {
    background-color: #42a5f5;
    padding: 0.3125rem 0.3125rem;
    border-radius: 1.875rem;
    text-align: center;
    max-width: 100%;
    width: 100%; /* Устанавливаем ширину на 100% для занятия всей ширины родителя */
    box-sizing: border-box; /* Включаем учет padding в общей ширине */
}
.header h1 {
    margin: 0;
    font-size: 1.25rem;
}
.header p {
    margin: 0.3125rem 0;
    font-size: 1.0625rem;
}
.header button {
    background-color: white;
    padding: 0.3125rem 0.3125rem;
    border-radius: 1.25rem;
    cursor: pointer;
    font-size: 1em;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
}

.header button:active {
    box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.3);
    transform: translateY(0.125rem);

}
.section {
    margin-top: 1.25rem;
    width: 100%;
    height: 100%;
}
.section h2 {
    font-size: 1em;
    margin-bottom: 0.625rem;
}
.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1C1C1D;
    padding: 0.9375rem 0.9375rem;
    border-radius: 1.875rem;
    margin-bottom: 2%;
    height: 20%;
}
.task:active{
    box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.3);
    transform: translateY(0.125rem);
}
.task img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.625rem;
}
.task p {
    display: flex;
    align-items: center;
    margin: 0.125rem;
    font-size: 1em;
}
.task span {
    font-weight: bold;
    color: #fbc02d;
    font-size: 0.9em;
}
.follow_button {
    border: 0;
}