* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

a {
    text-decoration: none;
}

a:active {
    color: rgba(241,158,54,1);
}

html {
    font-family: sans-serif;
}
body {
    background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    overflow: hidden;
    max-width: 100vw; /* Увеличим ширину для адаптивности */
    max-height: 100vh; /* Адаптируем высоту */
    touch-action: none;
    -ms-touch-action: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
}

.main-interface {
    display: flex;
    width: 100vw;
    background-color: #27A5C1;
}

.main-interface span {
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 4rem; /* Оставляем rem для отступов */
    padding-bottom: 5rem; /* Используем rem для внутреннего пространства */
    font-size: 2rem; /* Шрифты также на rem */
}

.cover {
    display: flex;
    width: 100vw;
    justify-content: center;
}

.black-monitor {
    margin-top: -10%;
    width: 100vw;
    display: flex;
    background-color: #000000;
    border-radius: 1.5rem; /* Используем vw для адаптации */
    flex-direction: column;
    padding: 5%;
}

.invite {
    display: flex;
    width: 85vw; /* Адаптируем ширину */
    height: 6.55vh; /* Оставляем rem для высоты */
    align-items: center;
    margin-bottom: 1rem; /* Оставляем rem для отступов */
}

.invite img {
    display: flex;
    padding-right: 0.875rem; /* Оставляем rem для отступов */
    width: 5.89vw;
    height: 5.89vh;
}

.blue {
    color: #27A5C1;
}

.pink {
    color: #d7569c;
}

.grey-buttons {
    display: flex;
    width: 89vw; /* Адаптируем ширину */
    height: 6.55vh; /* Оставляем rem для высоты */
    background-color: #1C1C1D;
    border-radius: 0.625rem; /* Оставляем rem для закругления углов */
    padding: 0 0.6875rem; /* Оставляем rem для отступов */
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    text-decoration: none;
    color: #ffffff;
}

.left-side {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.left-side img {
    padding-right: 0.625rem; /* Оставляем rem для отступов */
    width: 5.89vw;
    height: 5.89vh;
}

.right-side {
    display: flex;
    align-items: center;
}

.join-button,
.invite-button {
    display: flex;
    background-color: #27A5C1;
    justify-content: center;
    align-items: center;
    width: 95vw; /* Адаптируем ширину */
    height: 3.125rem; /* Оставляем rem для высоты */
    border-radius: 0.625rem; /* Оставляем rem для закругления углов */
    font-size: 1.25rem; /* Оставляем rem для шрифта */
    cursor: pointer;
    margin-bottom: 1rem; /* Оставляем rem для отступов */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* Для кнопки "Join our community", которая будет выше */
.join-button {
    bottom: 4.9rem; /* Оставляем rem для отступов от нижнего края */
}

/* Для кнопки "Invite a friend", которая будет в самом низу */
.invite-button {
    bottom: 1rem; /* Оставляем rem для отступов от нижнего края */
}
